.letterBox{
    background-color: hsl(0, 0%, 83%);
    border: none;
    border-radius: 8px;
    width: 45px;
    height: 60px;
    margin: 2px;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
}

.specialKey{
    width: 95px;
}